In [0]:
from google.colab import drive
drive.mount('/Downloads/')

Drive already mounted at /Downloads/; to attempt to forcibly remount, call drive.mount("/Downloads/", force_remount=True).

In [0]:
#for download files
# Install the PyDrive wrapper & import libraries.
# This only needs to be done once in a notebook.
!pip install -U -q PyDrive
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials

In [0]:
import pandas as pd
import numpy as np
import sklearn as sk
from sklearn.datasets import load_iris
from sklearn.linear_model import LogisticRegression
import matplotlib.pyplot as plt 
from sklearn.model_selection import train_test_split
from sklearn.decomposition import PCA
import seaborn as sns
from google.colab import drive
import csv
from sklearn.metrics import roc_auc_score
from sklearn.metrics import roc_curve
from sklearn.metrics import confusion_matrix
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import Imputer

In [0]:
train = pd.read_csv('train.csv')
train.drop(['id','open_date'], axis = 1, inplace=True)

In [0]:
train.shape

(5342477, 19)

In [0]:
np.sum(train.isnull())

caller_sum_6      139535
record_sum_6      139535
time_sum_6        139535
caller_sum_4           0
record_sum_4           0
time_sum_4             0
caller_sum_5      230582
record_sum_5      230582
time_sum_5        230582
brand                  0
city_flag           4062
day                   14
caller_sum_45     230582
caller_sum_456    248512
record_sum_45     230582
record_sum_456    248512
time_sum_45       230582
time_sum_456      248512
flag                   0
dtype: int64

In [0]:
train.head()

,caller_sum_6,record_sum_6,time_sum_6,caller_sum_4,record_sum_4,time_sum_4,caller_sum_5,record_sum_5,time_sum_5,brand,city_flag,day,caller_sum_45,caller_sum_456,record_sum_45,record_sum_456,time_sum_45,time_sum_456,flag
0,5.0,6.0,123.0,28,86,1423,NaN,NaN,NaN,3,0.0,536.0,NaN,NaN,NaN,NaN,NaN,NaN,1
1,198.0,535.0,2295.0,197,572,2666,224.0,638.0,2678.0,1,1.0,863.0,421.0,619.0,1210.0,1745.0,5344.0,7639.0,0
2,8.0,8.0,14.0,68,147,495,1.0,1.0,1.0,1,1.0,1809.0,69.0,77.0,148.0,156.0,496.0,510.0,1
3,26.0,74.0,291.0,25,100,403,29.0,87.0,340.0,2,1.0,2551.0,54.0,80.0,187.0,261.0,743.0,1034.0,0
4,49.0,213.0,797.0,50,210,771,56.0,245.0,1026.0,3,1.0,91.0,106.0,155.0,455.0,668.0,1797.0,2594.0,0

In [0]:
train_complete = Imputer().fit_transform(train)

In [0]:
np.isnan(train_complete).sum()

0

In [0]:
from google.colab import files

pd.DataFrame(train_complete).to_csv('train_imputed.csv', index=False, header = train.columns)

In [0]:
t1 = pd.read_csv('train_imputed.csv')

In [0]:
t1.head()

,caller_sum_6,record_sum_6,time_sum_6,caller_sum_4,record_sum_4,time_sum_4,caller_sum_5,record_sum_5,time_sum_5,brand,city_flag,day,caller_sum_45,caller_sum_456,record_sum_45,record_sum_456,time_sum_45,time_sum_456,flag
0,5.0,6.0,123.0,28.0,86.0,1423.0,32.19331,97.763715,431.363511,3.0,0.0,536.0,62.285086,93.339195,194.715076,287.692221,860.562899,6.518331e+08,1.0
1,198.0,535.0,2295.0,197.0,572.0,2666.0,224.00000,638.000000,2678.000000,1.0,1.0,863.0,421.000000,619.000000,1210.000000,1745.000000,5344.000000,7.639000e+03,0.0
2,8.0,8.0,14.0,68.0,147.0,495.0,1.00000,1.000000,1.000000,1.0,1.0,1809.0,69.000000,77.000000,148.000000,156.000000,496.000000,5.100000e+02,1.0
3,26.0,74.0,291.0,25.0,100.0,403.0,29.00000,87.000000,340.000000,2.0,1.0,2551.0,54.000000,80.000000,187.000000,261.000000,743.000000,1.034000e+03,0.0
4,49.0,213.0,797.0,50.0,210.0,771.0,56.00000,245.000000,1026.000000,3.0,1.0,91.0,106.000000,155.000000,455.000000,668.000000,1797.000000,2.594000e+03,0.0

In [0]:
# Authenticate and create the PyDrive client.
# This only needs to be done once in a notebook.
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

# Create & upload a file.
uploaded = drive.CreateFile({'title': 'train_missing_replaced.csv'})
uploaded.SetContentFile('train_imputed.csv')
uploaded.Upload()
print('Uploaded file with ID {}'.format(uploaded.get('id')))

Uploaded file with ID 1CiR4Bjv3yxwjaBHQRdQuT_LNChJTnS1e

In [0]:
t2 = pd.read_csv('train_missing_replaced.csv')

In [0]:
print(np.isnan(train_complete).sum())

t2.shape

0

(5342477, 19)

In [0]:
t2.head()

,caller_sum_6,record_sum_6,time_sum_6,caller_sum_4,record_sum_4,time_sum_4,caller_sum_5,record_sum_5,time_sum_5,brand,city_flag,day,caller_sum_45,caller_sum_456,record_sum_45,record_sum_456,time_sum_45,time_sum_456,flag
0,5.0,6.0,123.0,28.0,86.0,1423.0,32.19331,97.763715,431.363511,3.0,0.0,536.0,62.285086,93.339195,194.715076,287.692221,860.562899,6.518331e+08,1.0
1,198.0,535.0,2295.0,197.0,572.0,2666.0,224.00000,638.000000,2678.000000,1.0,1.0,863.0,421.000000,619.000000,1210.000000,1745.000000,5344.000000,7.639000e+03,0.0
2,8.0,8.0,14.0,68.0,147.0,495.0,1.00000,1.000000,1.000000,1.0,1.0,1809.0,69.000000,77.000000,148.000000,156.000000,496.000000,5.100000e+02,1.0
3,26.0,74.0,291.0,25.0,100.0,403.0,29.00000,87.000000,340.000000,2.0,1.0,2551.0,54.000000,80.000000,187.000000,261.000000,743.000000,1.034000e+03,0.0
4,49.0,213.0,797.0,50.0,210.0,771.0,56.00000,245.000000,1026.000000,3.0,1.0,91.0,106.000000,155.000000,455.000000,668.000000,1797.000000,2.594000e+03,0.0